<p id="notice"><%= notice %></p>

<h1>Estoque</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th>Quantidade</th>
      <th>Grupo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estoques.each do |estoque| %>
      <tr>
        <td><%= estoque.nome %></td>
        <td><%= estoque.descricao %></td>
        <td><%= estoque.valor %></td>
        <td><%= estoque.quantidade %></td>
        <td><%= estoque.grupo %></td>
        <td><%= link_to 'Visualizar', estoque, class:'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_estoque_path(estoque), class:'btn btn-default'  %></td>
        <td><%= link_to 'Remover', estoque, method: :delete, data: { confirm: 'Vai apagar mesmo?'}, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo produto', new_estoque_path, class:'btn btn-default' %>
